@import "tailwindcss";

html, body {
  background-color: #020617;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 768px) {
  * {
    will-change: auto !important; /* Desactiva will-change en mobile */
  }
}

/* Optimizar scroll en iOS */
body {
  overscroll-behavior-y: none;
}